<div class="row m-1">
    <div class="col-12">
        <form  (ngSubmit)="onSubmit(form)"  #form="ngForm">
            <div class="row">
                <div class="col-5 form-group">
                    <label for="name"> Name</label>
                    <input type="text" id="name" class="form-control" name="name" ngModel required #name="ngModel">
                    <span class="help-block" *ngIf="!name.valid && name.touched">Please enter a valid name!</span>
                </div>
                
                <div class="col-2 form-group">
                    <label for="amount"> Amount</label>
                    <input type="number" id="amount" class="form-control" name="amount" pattern="^[1-9]+[0-9]*$" ngModel required #amount="ngModel">
                    <span class="help-block" *ngIf="!amount.valid && amount.touched">Please enter a valid number!</span>
                </div>

                <div class="col-12 p-3">
                    <button class="btn btn-success m-1" type="submit"  [disabled]="!form.valid"> {{ isEditMode ? 'Update': 'Add' }}</button>
                    <button class="btn btn-danger m-1" type="button" (click)="onDelete()" *ngIf="isEditMode"> Delete</button>
                    <button class="btn btn-primary m-1" type="button" (click)="onClear()"> Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
