<div class="container">
  <div class="row justify-content-center">
    <div class="row-6">
        <div class="alert alert-danger" *ngIf="alert">
            <p>{{ alert }}</p>
        </div>
        <div *ngIf="isLoading">
            <app-spinner></app-spinner>
        </div>
      <form (ngSubmit)="login(form)"   #form="ngForm"  *ngIf="!isLoading">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            ngModel 
            name="email"
            required
            email
          />
          <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            ngModel
            name="password"
            required
            minlength="6"
          />
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1"
            >Check me out</label
          >
        </div>
        <button type="submit" class="btn btn-primary m-2" [disabled]="!form.valid"> {{isLoginMode? 'Login':'Sign up'}}</button>
        <button type="button" class="btn btn-primary" (click)="switchMode()">Switch to {{isLoginMode? 'Sign up':'login'}}</button>
      </form>
    </div>
  </div>
</div>
